@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(180deg, #0E1112 0%, #00090E 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #0E1112 0%, #00090E 100%);
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  max-height: 100vh;
}

html, body, #__next {
  height: 100%;
}

.no-scrollbar {
 -ms-overflow-style: none;
 scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
